@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding-left: 6%;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

@font-face {
  font-family: Cera Round Pro;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/font/TypeMates\ \ CeraRoundProMedium.woff'), format('woff');
}
